rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Rules for the fisherfolk collection
    match /fisherfolk/{userId} {
      // Allow a user to create their own profile document upon registration.
      // Allow users to read and update their own data.
      // Deny users from deleting their own data through the app.
      allow create, read, update: if request.auth != null && request.auth.uid == userId;
      allow delete: if false; 
    }
  }
}
